<!-- nos-services.component.html -->
<div class="services-container">
  <mat-card *ngFor="let service of services" 
            class="service-card"
            (click)="navigate(service.link)"
            >
    <div class="card-content">
      <img [src]="service.image" [alt]="service.title" class="service-image">
      <div class="text-content">
        <h3 class="service-title">{{service.title}}</h3>
        <p class="service-description">{{service.description}}</p>
      </div>
    </div>
  </mat-card>
</div>