<div class="home-container">
  <!-- Banner Section -->
  <section data-scroll-section class="bannerSection mat-elevation-z4">
    <div class="bannerSection-content">
      <h1 class="mat-headline-4">Dowotech - Partenaire Technologique des Entreprises</h1>
      <p class="mat-body-1">
        Solutions IT sur mesure : Infrastructure, Cloud & Cybersécurité<br>
        Optimisez votre système d'information avec nos experts certifiés
      </p>
    </div>
    <img src="../assets/images/Design_3.png" alt="Bannière" class="bannerSection-image">
  </section>

  <!-- About Section -->
  <mat-card data-scroll-section class="about-section mat-elevation-z4">
    <div class="about-content">
      <div class="about-text">
        <h3 class="mat-headline-5">Expertise Technologique</h3>
        <p class="mat-body-2">
          Société de services en ingénierie informatique (ESN), Dowotech accompagne les PME et grandes Entreprises 
          dans la gestion de leur écosystème technologique. Nos domaines d'excellence :
        </p>
        <ul class="expertise-list">
          <li>Développement d'applications sur mesure</li>
          <li>Infrastructures réseau sécurisées</li>
          <li>Optimisation d'environnements cloud</li>
          <li>Automatisation DevOps et CI/CD</li>
        </ul>
        <a mat-raised-button 
            color="primary" 
            (click)="navigate('/about')"
            (touchstart)="navigate('/about')">
          Nous Découvrir
        </a>
      </div>
      <img src="../assets/images/13.png" alt="À propos" class="about-image">
    </div>
  </mat-card>

  <!-- Services Section -->
  <section data-scroll-section class="services-section">
    <div class="services-header">
      <h3 class="mat-headline-4">Notre Offre de Services IT</h3>
      <p class="mat-subtitle-1">
        4 pôles d'expertise pour couvrir l'ensemble de vos besoins technologiques
      </p>
    </div>
    <techrun-nos-services></techrun-nos-services>
  </section>

  <!-- section atout -->
  <div class="section-atout" data-scroll-section>
    <teckruns-atout></teckruns-atout>
  </div>

  <!-- Video Section -->
  <div data-scroll-section class="video-container" [class.fullscreen]="isFullscreen">
    <div (click)="toggleFullscreen()">

    </div>
    <video autoplay loop muted preload="auto" class="promo-video mat-elevation-z4">
      <source src="./assets/images/video_dowotech.mp4" type="video/mp4">
      <source src="./assets/images/video_dowotech.webm" type="video/webm">
      Votre navigateur ne prend pas en charge la vidéo. Découvrez notre <a routerLink="/nos-services">offre de services</a>
    </video>
  </div>

</div>