<div class="contact-form">
  <div class="container">
    <div class="row">
      <div class="text-contact col-md-8 offset-md-2 text-center">
        <h3 class="text-center">Transformez votre Entreprise <span class="highlight">en accéléré</span></h3>
        <p>
          L'innovation n'attend pas ✨ Parlons <span class="underline">dès maintenant</span> 
          de votre prochain grand projet tech !
        </p>
      </div>
      
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="w-100">
        <mat-card class="p-4">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Choisissez le service</mat-label>
                <mat-select formControlName="service">
                  <mat-option value="" disabled>-- Sélectionner un service --</mat-option>
                  <mat-option value="developpement">Développement d'Application</mat-option>
                  <mat-option value="infrastructure-it">Infrastructure Réseau</mat-option>
                  <mat-option value="devops">Automatisation DevOps</mat-option>
                  <mat-option value="gestion-cloud">Gestion Cloud</mat-option>
                </mat-select>
                <mat-error *ngIf="contactForm.get('service')?.invalid">
                  Merci de choisir un service
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="nom">
                <mat-error *ngIf="contactForm.get('nom')?.invalid">
                  Merci de renseigner un Nom valide
                </mat-error>
              </mat-form-field>
            </div>
            
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="prenom">
                <mat-error *ngIf="contactForm.get('prenom')?.invalid">
                  Merci de renseigner un Prénom valide
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Téléphone</mat-label>
                <input matInput formControlName="phone" type="tel">
                <mat-error *ngIf="contactForm.get('phone')?.invalid">
                  Numéro invalide. Format accepté: +xxx xx xx xx xx ou +x (xxx) xxx-xxxx
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error *ngIf="contactForm.get('email')?.invalid">
                  Merci de renseigner une adresse email valide
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" rows="4"></textarea>
                <mat-error *ngIf="contactForm.get('message')?.invalid">
                  Merci de renseigner votre message
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="text-center mt-4">
            <button mat-raised-button 
                    class="button"
                    color="primary" 
                    type="submit"
                    [disabled]="contactForm.invalid">
              Envoyer le message
            </button>
          </div>

          <div *ngIf="successMessage" class="mt-3">
            <mat-divider></mat-divider>
            <mat-card class="success-message mt-3">
              {{ successMessage }}
            </mat-card>
          </div>

          <div *ngIf="errorMessage" class="mt-3">
            <mat-divider></mat-divider>
            <mat-card class="error-message mt-3">
              {{ errorMessage }}
            </mat-card>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>