# Ignore node modules
node_modules
npm-debug.log
yarn-error.log

# Ignore built files
dist
build
# Exclude test files and directories
e2e
src/**/*.spec.ts
src/**/*.test.ts

# Ignore environment files
src/environments/*.ts

# Ignore editor and IDE folders
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
temp
*.tmp

# Ignore Git files
.git
.gitignore
