<section class="atout-section">
  <div class="container">
    <!-- En-tête -->
    <div class="section-header">
      <h3>Notre Approche Technologique</h3>
      <p>Une méthodologie en 4 étapes clés</p>
    </div>

    <!-- Contenu principal -->
    <div class="content-wrapper">
      <!-- Panels -->
      <mat-accordion class="panels-container">
        <mat-expansion-panel *ngFor="let item of atouts; trackBy: trackByFn">
          <mat-expansion-panel-header>
            <mat-icon>{{item.icon}}</mat-icon>
            <h4>{{item.title}}</h4>
          </mat-expansion-panel-header>

          <div class="expansion-panel-content">
            <p>{{item.description}}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Image -->
      <div class="image-container">
        <img src="assets/images/3.png" alt="Notre méthode">
      </div>
    </div>
  </div>
</section>
