<mat-toolbar [class]="navbarColor" class="fixed-header">
  <div class="container">
    <!-- Logo -->
    <a mat-button routerLink="/" class="logo">
      <span>Dowotech</span>
    </a>

    <!-- Menu desktop -->
    <div class="desktop-menu">
      <ng-container *ngFor="let menu of menus">
        <!-- Éléments simples -->
        <a *ngIf="!menu.subItems" 
           mat-button 
           [routerLink]="menu.path"
           class="menu-item">
          {{ menu.name }}
        </a>

        <!-- Menu déroulant Services -->
        <div *ngIf="menu.subItems" 
          class="menu-container"
          [matMenuTriggerFor]="servicesMenu"
          #menuTrigger="matMenuTrigger"
          (mouseenter)="handleMenuHover(true)"
          (mouseleave)="handleMenuHover(false)">

          <button mat-button class="services-button">
            {{ menu.name }}
          </button>

          <mat-menu #servicesMenu="matMenu" class="services-dropdown" hasBackdrop="false">
            <div class="menu-panel"
                (mouseenter)="handleMenuHover(true)"
                (mouseleave)="handleMenuHover(false)">
              
              <button mat-menu-item 
                      *ngFor="let subItem of menu.subItems" 
                      (click)="navigate(subItem.path)"
                      class="submenu-item">
                {{ subItem.name }}
              </button>
            </div>
          </mat-menu>
        </div>
      </ng-container>
    </div>

    <!-- Réseaux sociaux -->
    <div class="social-icons">
      <a *ngFor="let social of socials" 
         [href]="social.link" 
         target="_blank" 
         mat-icon-button>
        <mat-icon [fontIcon]="social.icon"></mat-icon>
      </a>
    </div>

    <!-- Menu mobile -->
    <button mat-icon-button 
            class="mobile-menu" 
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menu mobile indépendant -->
<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" class="mobile-sidenav">
    <div class="mobile-header">
      <button mat-icon-button (click)="sidenav.close()" class="close-button">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>

    <div class="mobile-nav">
      <!-- Accueil forcé en premier -->
      <a mat-button 
         *ngIf="menus[0].path" 
         (click)="navigate(menus[0].path); sidenav.close()"
         class="mobile-menu-item">
        {{ menus[0].name }}
      </a>

      <!-- Autres menus -->
      <ng-container *ngFor="let menu of menus | slice:1">
        <a *ngIf="!menu.subItems" 
           mat-button 
           (click)="navigate(menu.path); sidenav.close()"
           class="mobile-menu-item">
          {{ menu.name }}
        </a>

        <div *ngIf="menu.subItems" 
             class="mobile-submenu">
          <button mat-button 
                  (click)="toggleSubMenu()"
                  class="mobile-submenu-button">
            {{ menu.name }}
            <mat-icon>{{ showSubMenu ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>
          
          <div *ngIf="showSubMenu" 
               class="submenu-items">
            <a *ngFor="let subItem of menu.subItems" 
               mat-button 
               (click)="navigate(subItem.path); sidenav.close(); showSubMenu = false"
               class="submenu-item">
              {{ subItem.name }}
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-sidenav>
</mat-sidenav-container>